/* for crap browsers that dont have this */
header, section, footer {
  display: block;
}

body {
  background-color: #f9f9f9;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #1f1f1f;
  font-size: 14px;
}

body > div {
  width: 90%;
  margin: 0 auto;
}

header, #content, footer {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

body > div > header {
  margin-top: 10px;
  position: relative;
  border-bottom: 5px solid #2f2f2f;
  height: 39px;
}


#logo {
  height: 24px;
  width: 83px;
  background-image:url('img/pungent.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  position: absolute;
  left: 0px;
  top: 5px;
}



#auth {
  height: 24px;
}

#open_help {
  height: 16px;
  margin: 0 auto;
  padding-top: 10px;
  width: 60px;
  text-align: center;
}


div#login span {
  position: absolute;
  top: 10px;
  right: 102px;
}

div#login ul {
  position: absolute;
  top: 5px;
  right: 0px;
  height: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div#login li {
  margin: 0 0 0 10px;
  float: left;
}

div#login a img {
  border: none;
}

div#loggedin { 
  position: absolute;
  top: 10px;
  right: 0px;
}

div#loggedin #ident {
  font-weight: bold;
}

div#loggedin a {
  color: #1f1f1f;
  margin-left: 10px;
}

#loggedin, #login {
  display: none;
}


#help { 
  clear: both;
  padding: 0;
  margin-bottom: 60px;
}

#help ul {
  list-style-type: none;
  padding: 0;
}

#open_help, #close_help { 
  text-decoration: underline;
  cursor: pointer;
}

#content {
  clear: both;
  min-height: 850px;
}


#content textarea {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  resize: none;
  box-sizing: border-box;
  outline: none;
  border: 0;
  background-color: transparent;
  color: inherit;
  margin: 0;
  overflow: hidden;
  padding: 3px 0px 3px 5px;
  display: inline-block;
  height: 100%;
  font-size: 15px;
  border-left: 1px solid #d9d9d9;
}


#content .zoom_header > textarea {
  padding: 3px 0px;
  margin-top: 5px;
  font-size: 24px;
  border: 0;
}


div.children {
  margin: 0 0 0 35px;
  padding: 0;
}

.zoomed_past > div.children,
.zoom_header > div.children {
  margin: 0;
}

#content .zoomed_past > textarea {
  display: none;
}

#content .zoomed_away {
  display: none;
}

div.node {
  display: block;
  height: auto;
  margin: 10px 0;
  padding: 0;
}

.collapsed > .children > .node {
  display: none;
}

.zoomed_past.collapsed > .children > .node {
  display: block;
}

.zoom_header.collapsed > .children > .node {
  display: block;
}


footer {
  text-align: center;
  font-size: 11px;
  border-top: 5px solid #2f2f2f;
  padding: 5px 0;
}